<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.alibaba.com/schema/stat"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.alibaba.com/schema/stat http://www.alibaba.com/schema/stat.xsd">
    <!-- 被spring注解的上下文bean就能被spring管理 -->
    <context:annotation-config/>

    <!-- 启动注解驱动的spring mvc 功能 -->
    <mvc:annotation-driven/>

    <!-- 启动包扫描功能 -->
    <context:component-scan base-package="com.lwj.controller"/>

</beans>